.socialBox {
  margin-bottom: 30px;
}
.kakao {
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 0;
  cursor: pointer;
  background-color: #feec34;
}
.kakaoLogo {
  position: absolute; right: 450px;
  width: 24px;
  height: 25px;
}

.facebook {
  height: 49px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #3a5897;
  margin-bottom: 10px;
}

.facebookLogo {
  position: absolute; right: 450px;
  padding-top: 10px;
  width: 24px;
  height: 25px;
}

.naver {
  height: 49px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #00bf18;
  margin-bottom: 10px;
}

.naverText {
  
  padding-top: 12px;
  width: 310px;
  color: #fff;
  font-size: 16px;
  font-weight: 550;
  text-align: center;
  box-sizing: border-box;
}

.naverLogo {
  position: absolute; right: 450px;
  padding-top: 10px;
  width: 24px;
  height: 25px;
}

.instagram {
  height: 49px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0;
  background: linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  margin-bottom: 10px;
}

.instagramLogo {
  position: absolute; right: 450px;
  padding-top: 10px;
  width: 28px;
  height: 29px;
}