.socialBox {
  margin-bottom: 30px;
}
.kakao {
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 0;
  cursor: pointer;
  background-color: #feec34;
}

.facebook {
  height: 49px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #3a5897;
  margin-bottom: 10px;
}

.naver {
  height: 49px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #03c75a;
  margin-bottom: 10px;
}

#naverIdLogin{
  display: none;
}

.instagram {
  height: 49px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0;
  background: linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  margin-bottom: 10px;
}
